In [5]:
import numpy as np
import re
import pandas as pd

## Dedicaton Analysis

In [ ]:
#input
time_spent_hrs_per_week = 12 #time_spent_hrs_per_week
tiem_spent_weeks_per_year = 12 #tiem_spent_weeks_per_year

In [7]:
data_awards = pd.read_csv('dedication_analysis .csv')
data_awards

,period_years_of_activity,coefficient,hrs_per_week,week_strength,weeks_per_year,year_strength,total_activity_hrs,total_dedication_avg
0,5.0,1.00,15+,5.0,30_52,5.0,3300+,5
1,4.0,1.00,10-14,4.5,20_29,4.5,3200_3300,5
2,3.0,0.90,8-9,4.0,15_19,4.0,2400_3200,4
3,2.0,0.75,5-7,3.0,12_14,3.0,1600_2400,3
4,1.0,0.60,3-4,2.0,8_11,2.0,1200_1600,2
5,NaN,NaN,1-2,1.0,1_7,1.0,0_1200,1

 dedication_cal = Coefficient X [ (한주별 활동 시간 강도  + 1년간 몇주 참여 강도) / 2 ]

In [ ]:
if

In [ ]:
dedication_cal =